.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-image: linear-gradient(
      to bottom,
      rgba(104, 121, 214, 0.52),
      rgba(41, 125, 148, 0.73)
    ),
    url(../assets/images/img-home-page.jpg);
}

.home-title > h1 {
  font-size: 85px;
  font-weight: 700;
  color: white;
}

.home-description > p {
  margin: 0 0 0.75em;
  font-weight: 500;
  font-size: 30px;
  color: white;
  padding: 50px;
}

.link-to {
  text-decoration: none;
  color: white;
}

.orange-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: orangered;
  border-radius: 15px;
  min-width: 200px;
}

.party-photo {
  width: 100%;
  height: 100%;
}

.party-photo-container {
  width: 100%;
  height: auto;
}
.discount-detail {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-booking {
  background-color: white;
  width: 70%;
  height: auto;
  position: fixed;
  border-style: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
